.idea/
.DS_Store
/target/

# Generated UniFFI bindgen outputs
bindings/android/native-debug-symbols.zip
bindings/android/src/main/jniLibs/
bindings/android/src/main/kotlin/com/synonym/vssclient/vss_rust_client_ffi.kt
/dist/

.rust-analyzer/
.cargo/
# Default ignored files
/shelf/
/workspace.xml
# Editor-based HTTP Client requests
/httpRequests/
.ai
.build

# SwiftPM workspace files
.swiftpm/
